
/* Fonts */
@font-face {
    font-family: 'SFRegular';
    src: url('/fonts/SFPRODISPLAYREGULAR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFItalic';
    src: url('/fonts/SFPRODISPLAYTHINITALIC.woff2') format('woff2');
    font-weight: 100;
    font-style: thin;
    font-display: swap;
}

@font-face {
    font-family: 'SFMedium';
    src: url('/fonts/SFPRODISPLAYMEDIUM.woff2') format('woff2');
    font-weight: 100;
    font-style: italic; 
    font-display: swap;
}

@font-face {
    font-family: 'SFBold';
    src: url('/fonts/SFPRODISPLAYBOLD.woff2') format('woff2');
    font-weight: bold;
    font-style: bold;
    font-display: swap;
}

/* landing page screen size and wallpaper */
body.desktop {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

div.wallpaper {
  background-image: url(/images/lightmode.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  height: 100vh;
  margin: 0;
  padding: 0;
}
  

.projectfolder:hover .projectfolderheader {
    transition: none; 
}

/* Project folders on the desktop */
div.projectfolder {
  position: absolute;
  display: inline-block;
  z-index: 9;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: 'SFMedium', sans-serif;
  color: #ffffff;
  text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
  
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out, z-index 0s, background-color 0.6s ease-in-out;
}

div.projectfolderheader {   
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0px;
  margin: 0px;
  z-index: 10;
  overflow: hidden;
}   

img.projectimage {
    height: 6vh;
    width: 6vh;
    object-fit: cover; 
    display: block;
    border: 0px solid #ffffff;
    background-color: #ffffff00;
    border-radius: 5px;
}

.dock-container {
  font-family: 'SFRegular', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 5vh; 
    z-index: 1000;
}

.ProjectText {
    color: #fff;
    font-size: 1.3vh;
    margin: 0;
    padding: 7px 0;
   
    background: rgba(0, 0, 0, 0, 0);
    border-radius: 5px;
    transition: background-color 0.7s ease-in, 0.2s ease-out;
}
.projectfolder:hover {
    z-index: 100; 
    cursor: pointer;
}

.projectimage:hover {
  cursor: pointer;
}

.projectfolder:hover p {
  padding: 3px 5px;
   transform: translateY(8px) scale(0.909);
    background-color: #007afd; 
      
}

.projectfolder:hover .projectimage {
  padding: 5px;
  background-color: #00000015;
  border: 1px solid #e4e4e450;
}

.projectfolder:hover {
 
    z-index: 100; 

    transform: scale(1.1) translate(-5%, -5%);
}

.projectfolder.is-dragging {

    transform: none !important;
    
    z-index: 9999 !important; 
    
    transition: none !important; 
}

.dock {
    list-style: none;
    display: inline-flex;
    padding: 1.2vh 1vh;
    margin: 0;

    background: #ffffff20;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 3px #00000010;
}

/* ICON WRAPPER */
.dock li {
    margin: 0 0.75vh; 
  
    position: relative; 
    width: 4.5vh; 
}

.dock li img {
    width: 4.5vh; 
    height: 4.5vh;
    display: block;
}

/* SPEECH BUBBLE BODY B */

.dock li::before {
    content: attr(data-label);
    
    visibility: hidden;
    opacity: 0;
    
    position: absolute;
    bottom: 7vh; 
    left: 50%;
    transform: translateX(-50%) translateY(5px);
    padding: 6px 10px;
    background-color: #33333380;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    z-index: 10;
    pointer-events: none; 

    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

/* SPEECH BUBBLE ARROW A */

.dock li::after {
    content: '';
    
    opacity: 0;

    position: absolute;
    bottom: 7vh;
    left: 50%;
    margin-left: 0px;
    margin-bottom: -12px; 
    
    border-width: 6px;
    border-style: solid;
    border-color: #33333380 transparent transparent transparent;

    transform: translateX(-50%) translateY(5px);
    
    z-index: 10;
    pointer-events: none;
    
  
    transition: opacity 0.2s ease-out, transform 0.2s ease-out; 
}

/* Hover Effect */

.dock li:hover::before,
.dock li:hover::after {
    visibility: visible;
    opacity: 1;
  
    transform: translateX(-50%) translateY(0); 
}

.dock .divider {
    width: 1.3px;
    height: 4.5vh; 
    background-color: rgba(255, 255, 255, 0.1); 
    margin: 0 1vh;
    
    position: static; 
    cursor: default;
    
    transform: none !important;
    transition: none !important;
}

.dock .divider::before,
.dock .divider::after {
    content: none;
}

/* LIGHT AND DARK MODE */
:root {
    --wallpaper-image: url('/images/lightmode.jpg');
    --dock-bg-color: #ffffff20;
    --dock-blur: blur(8px);
    
    --toggle-icon-image: url('/images/nightmode.png'); 
}

.dark-mode {
    --wallpaper-image: url('/images/darkmode.jpg'); 
    --text-color: #e0e0e0;
    --dock-bg-color: #00000020;
    --dock-blur: blur(12px);
    
    --toggle-icon-image: url('/images/daymode.png');
}


div.wallpaper {
  background-image: var(--wallpaper-image); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: background-image 0.8s ease-in-out; 
}

.dock {
    list-style: none;
    display: inline-flex;
    padding: 1.2vh 1vh;
    margin: 0;
    background: var(--dock-bg-color); 
    border-radius: 15px;
    backdrop-filter: var(--dock-blur); 
    box-shadow: 0 2px 3px #00000010;
    transition: background 0.6s ease-in-out, backdrop-filter 0.6s ease-in-out;
}

.theme-toggle-btn .icon {
    display: block; 
    width: 100%; 
    height: 100%; 
    
    background-image: var(--toggle-icon-image);
    
    background-size: 56%; 
    background-position: center;
    background-repeat: no-repeat;
}

.theme-toggle-btn {
    position: fixed; 
    
    top: 2vh; 
    right: 2vh; 
    z-index: 9999; 

    background: rgba(255, 255, 255, 0.0); 
    border-color: rgba(0,0,0,0);
  
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;
}

button:hover .theme-toggle-btn {
    cursor: pointer;
}