/*  Declaring Fonts */
@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Regular.woff") format("woff");
  font-weight: normal;
}

html {
  font-size: 10px;
}

/* Take from W3 to create responsive design, what are the square brackets and "*" around class?*/
/* Responsive Design */
* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;

  /* View containers */
  /* border: 1px solid red; */
}

/* Double colon? */
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  width: 100%;
}

#hero-image-container {
  display: none;
}

/* .nagivationg-bar vs ul.navigation-bar vs .navigation-bar ul */
/*  Navigation Bar */
nav {
  height: 3.75rem;
}

#navbar-container {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

#navbar-container ul {
  list-style-type: none;

  margin-right: auto;
  margin-left: auto;
}

#navbar-container ul li {
  box-sizing: border-box;
  display: inline-block;
}

/*  Nav Link Properties */
#navbar-container a {
  color: #bbbbbb;
  padding: 1rem 1rem;
  text-decoration: none;
  font-family: "Neue Montreal";
  font-weight: 500;
  font-size: 0.75rem;
}
/* What is the difference between "a:" and "a." */
#navbar-container a:hover {
  color: #222222;
  transition-duration: 0.5s;
}

#navbar-container a.active {
  color: #222222;
}

#logo-container {
  height: 100%;

  display: none;
  align-items: center;
}

#right-filler {
  display: none;
}

#site-logo {
  height: 100%;
  width: auto;
}

#site-logo-2 {
  height: 100%;
  width: auto;
  visibility: hidden;
}

/* Declaring text styles*/
/*  Adding a  '.' or '@' or '#" or 'a'  or BLANK"." before an element*/
#hero-text {
  font-family: "Neue Montreal";
  font-weight: bold;
  font-size: 1.7rem;
  color: #222222;
  line-height: 1;
}

/* How  do I change the font of this ID specifically, without a DIV, should I add a DIV is that best practice?*/
h2 {
  font-family: "Neue Montreal";
  font-weight: 500;
  font-size: 1rem;
  color: #222222;
}

h3 {
  font-family: "Neue Montreal";
  font-weight: 500;
  font-size: 1rem;
  color: #222222;
}

/* Site Margins */
html {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* Hero Section*/
#hero-section {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#hero-image {
  border-radius: 50%;
  height: 15rem;
}

/*  project drop shadows and hover interactions */
.cover {
  box-shadow: 0rem 0.5rem 0.6rem rgba(0, 0, 0, 0.06) !important;
  transition: transform 0.5s ease;
}

.cover:hover {
  box-shadow: 0rem 0.5rem 0.6rem rgba(0, 0, 0, 0.1) !important;
  transform: scale(1.01);
}

#hero-image-container {
  padding-top: 5rem;
}

#scroll-prompt {
  margin-top: 5rem;
  padding-left: 1.7rem;
  margin-bottom: 0.5rem;
}

span.error {
  text-decoration: #fb7470 wavy underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.45rem;
}

span.down-here {
  text-decoration: #fb7470 underline;
}

/* Portfolio Gallery Section*/

.cover {
  max-width: 100%;
  max-height: auto;
  border-radius: 0.5em;
}

/* Portfolio case-study */
/* Case-study images */
.big-image {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.medium-image {
  width: 100%;
  height: auto;
}

.small-image {
  width: 100%;
  height: auto;
}

.extra-small-image {
  width: 100%;
  height: auto;
}

/* Case-study text */
.project-title {
  font-family: "Neue Montreal";
  font-weight: 500;
  font-size: 3rem;
  color: #222222;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.project-sub-title {
  font-family: "General Sans";
  font-size: 0.55rem;
  font-weight: 400;
  color: #757575;
  text-align: center;
}

.project-section-title {
  font-family: "General Sans";
  font-size: 0.56rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #757575;
  margin-top: 0;
}

.project-body {
  font-family: "Neue Montreal";
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #222222;
  margin-top: 0;
}

.project-body-small {
  font-family: "Neue Montreal";
  font-weight: normal;
  font-size: 0.7rem;
  line-height: 1.2rem;
  color: #757575;
  margin-top: 0;
}

#first-iteration-subtext {
  width: 80%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.section-title-parent {
  height: 2rem;
}

#next-project {
  text-align: center;
  margin-top: 5rem;
}

.next-project-button {
  font-family: "Neue Montreal";
  font-weight: bold;
  font-size: 5rem;
  color: #222222;

  margin-top: 0;
}

/* Lists */
/* .vogro-numbered {
  
  } */

.vogro-bullet {
  font: "Neue Montreal";
}

/* Project prototype */

.prototype {
  width: 100%;
  height: auto;

  border-radius: 17.5px;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

/* Next project buttons  */

.next-project-button a {
  text-decoration: none;
  color: #222222;
}

.next-project-button a:hover {
  color: #fb7470;
  transition-duration: 0.5s;
}

#hyperloop:hover {
  pointer-events: none;
}
  
.spacer {
  display: none;
}

/* HIDE SCROLL TO TOP BUTTON ON MOBILE */
.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 160px;
  display: none;
  text-indent: -9999px;
 }

/* Tablet */
@media only screen and (min-width: 769px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }

  html {
    font-size: 20px;
  }

  .spacer {
    display: block;
  }
  /* Tablet - home page */
  /* Hero Section */

  #hero-section {
    margin-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  #hero-text {
    font-size: 2.1rem;
  }

  #about-hero-text {
    font-size: 1.7rem;
  }

  #scroll-prompt {
    margin-top: 5rem;
    padding-left: 5rem;
    margin-bottom: 0.5rem;
  }

  /* Scroll to top button */
 .scrollup {
  width: 40px;
  height: 40px;
  
  position: fixed;
  bottom: 50px;
  right: 160px;
  display: none;
  text-indent: -9999px;
  background: url("/images/to-top.png")  no-repeat;
  object-fit: fill;
 }

 .prototype {
  width: 80%;
 }

 .big-image {
  width: 80%;
 }
}

/* Desktop: */
@media only screen and (min-width: 1024px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  html {
    font-size: 20px;
  }

  .spacer {
    display: block;
  }


  /* Desktop - home page */
  /* Nav */
  #logo-container {
    display: flex;
  }
  #right-filler {
    display: flex;
  }

  /* Hero Section */
  #hero-image-container {
    display: block;
  }

  #hero-section {
    margin-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  #hero-text {
    font-size: 2.1rem;
  }

  #scroll-prompt {
    margin-top: 5rem;
    padding-left: 5rem;
    margin-bottom: 0.5rem;
  }

  /* Desktop - about page */
  #about-main {
    margin-top: 5rem;
  }

  #about-hero-text {
    font-size: 3rem;
  }

  #lucas-illustrated {
    display: flex;
    float: right;
    height: 10rem;
    width: auto;
  }

  /* Scroll to top button */
 .scrollup {
  width: 40px;
  height: 40px;
  
  position: fixed;
  bottom: 50px;
  right: 160px;
  display: none;
  text-indent: -9999px;
  background: url("/images/to-top.png")  no-repeat;
  object-fit: fill;
 }

 .prototype {
  width: 80%;
 }

 .big-image {
  width: 80%;
 }
}


 /* <!-- Section templates -->
 <!--  Big image -->
 <!-- <div id="#" class="row">
             <div class="col-12"></div>
         </div> -->
 
 <!-- One column -->
 <!-- <div id="#" class="row">
             <div class="col-3"></div>
             <div class="col-6"></div>
             <div class="col-3"></div>
         </div> -->
 
 <!-- Two Column SKINNY -->
 <!-- <div id="#" class="row">
         <div class="col-3"></div>
             <div class="col-3"></div>
             <div class="col-3"></div>
         <div class="col-3"></div>
     </div> -->
 
 <!-- Two Column WIDE -->
 <!-- <div id="#" class="row">
         <div class="col-2"></div>
             <div class="col-4"></div>
             <div class="col-4"></div>
         <div class="col-2"></div>
     </div> --> */